/*
 * Globals
 */

body {
    font-family: "Helvetica Neue", Helvetica, Sans-serif;
    color: #050505;
    background: rgb(254, 255, 251);
}

a {
    color: rgba(0, 0, 0, 0.9);
}

a:hover {
    color: rgb(255, 151, 44);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-weight: bolder;
    color: #333;
}

@media (min-width: 1001px) {
    .container {
        width: 970px;
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    .container {
        width: auto;
        margin: 0 15px;
    }
}

/**
 * Search Tags Box
 */
@media (min-width:601px) {
    .search-tags {
        margin: 0 0 0 15px;
    }    
}

@media (max-width:600px) {
    .search-tags {
        margin: 0 0 15px 0;
    }    
}


/*
 * Blog Title
 */
.blog-title-container {
    padding: 15px 0 15px 0;
}

.blog-title {
    background: rgb(254, 255, 251);
}

.blog-title h1,
.blog-title h4 {
    color: inherit;
    margin: 0;
    text-align:center;
}

.blog-title h1 {
    margin: 0;
    padding: 5px 10px 0 5px;
}

.blog-title h4 {
    margin: 0;
    padding: 0 10px 5px 5px;
    opacity: 0.8;
}

.blog-title a {
    display:block;
    text-decoration: underline;
}

/**
 * bBlog content
 */

.blog-content {

}

/*
 * Main column and sidebar layout
 */

.blog-main-container {
    padding:70px 0 0 0;
}

.blog-main {
    font-size: 16px;
    line-height: 1.5;
}

/*
 * Blog posts
 */

.blog-post {
    margin:0 0 16px 0;
}

.blog-post-title {
    margin: 16px 16px 0 16px;
    font-size: 30px;
    text-decoration: underline;
}

.blog-post-date {
    margin: 0px 16px 0 16px;
}

md-card-content .blog-post-title {
    margin: 0;
    text-decoration: none;
}

md-card-content p.blog-post-meta {
    margin: 0 0 15px 0;
    color: #999;
}

p.ng-scope {
    margin: 0 0 16px 0;
}

.blog-post img {
    max-width:100%;
    max-height:100%;
}

.blog-meta {
    margin: 0 0 0 16px;
}

.blog-meta md-card {
    margin: 0;
}

md-card.blog-post md-card-content {
    padding: 16px 16px 0 16px;
}

/*
 * Markdown
 */

.markdown h2 {
    border-bottom:solid 1px #dddddd;
    margin: 25px 0 15px 0;
}

.markdown h3 {
    font-size:20px;
}

.markdown code {
    border:solid 1px #ddd;
    display:block;
    padding:8px;
    background:#fafafa
}
