<div ng-controller="BlogListCtrl">
    <div class="blog-post" ng-repeat="post in posts">
        <h2 class="blog-post-title"><a href="/p/{{ post.slug }}">{{ post.title }}</a></h2>
        <p class="blog-post-meta">{{ post.date | blogPostDate }} by {{ post.author }}</p>
        <div ng-include="'/cache/' + post.slug + '.summary.html'" class="markdown"></div>
        <p ng-if="post.summary"><a href="/p/{{ post.slug }}">Read More</a></p>
    </div><!-- /.blog-post -->
    <div ng-if="loaded && posts.length == 0">No posts</div>
    <div ng-if="!loaded">Loading...</div>
</div>