<div ng-controller="BlogListCtrl" class="container md-padding" layout-gt-sm="row" layout-sm="column">
    <div flex-gt-sm=75 flex-md=65 flex-order-sm=2>
        <md-card ng-repeat="post in posts" class="blog-post">
            <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
            <h2 class="blog-post-title"><a href="/p/{{ post.slug }}">{{post.title}}</a></h2>
            <md-card-content>
                <div ng-include="'/cache/' + post.slug + (post.summary ? '.summary.html' : '.html')" class="markdown"></div>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-if="post.summary">Read More <i class="fa fa-angle-right"></i></md-button>
            </div>
        </md-card>
        <div ng-if="loaded && posts.length == 0">No posts</div>
        <div ng-if="!loaded">Loading...</div>
    </div>
    <div flex-gt-sm=25 flex-md=35 flex-order-sm=1 class="search-tags">
        <md-card style="margin:0;">
            <md-card-content>
                <p style="margin:0 0 15px 0;"><input type="text" ng-model="search.value" style="width:100%;" placeholder="Search for posts by title..." /></p>
                <div ng-if="tags.length">
                    <h5>Tags</h5>
                    <div ng-repeat="tag in tags"> <a href="?t={{tag.name}}">{{tag.name}}</a> ({{tag.count}}) </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>